<p>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Open menu" (click)="toggleNavPane()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <a
        [routerLink]="'/home'"
        routerLinkActive="active"
        class="console-app__logo"
      >
        Google Registry
      </a>
    </span>
    <span class="spacer"></span>
    <app-registrar-selector />
    <button mat-icon-button aria-label="Open FAQ">
      <mat-icon>question_mark</mat-icon>
    </button>
    <button mat-icon-button aria-label="Open user info">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</p>
