form.set,
form.item,
div.set,
div.item {
  width: 700px;
}

.set table,
.item table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* Going to play some games here to get section leads to float left,
 * followed by their next rows in floated right column. */
.item table,
.set table {
  padding-top: 2em;
  margin-top: 1em;
  border-top: solid 1px #ebebeb;
}

.set tr,
.item tr {
  margin: 0;
  padding: 0;
  min-height: 28px;
}

.set td,
.item td {
  padding: 0.5em 0;
}

.item tr.section-lead th h2,
.item tr.section-lead th h3 {
  font-size: 1em;
  font-weight: bold;
  color: #15c;
}

tr.subsection h3::first-letter {
  text-transform: capitalize;
}

.set td:first-child,
.item td:first-child {
  width: 260px;
}

.set td:first-child span.description,
.item td:first-child span.description {
  width: 170px;
}

.description ol {
  list-style-type: decimal;
  margin-left: 2em;
}


/* Setting groups and labels. */

.set .kd-settings-pane-section td {
  border-bottom: solid 1px #ebebeb;
}

td.setting-group-compact {
  padding-left: 0.5em;
}

.setting-group-compact div {
  line-height: 140%;
}

.item label {
  font-weight: bold;
}

.set label + input {
  margin-left: 1em;
}

.kd-settings-pane-section td label.setting-label {
  padding-top: 0.5em;
}

td.label {
  width: 70%;
}

/* Compact sequence of labels. */
.setting label + label {
  margin-left: 2em;
}

form label,
.setting-label {
  line-height: 13px;
  margin-bottom: 5px;
}

.setting label {
  display: inline-block;
  font-weight: normal;
  margin-right: 1em;
  vertical-align: top;
}

div.checkbox-with-label {
  margin-bottom: 1em;
}


/* Controls */

.set input:not([type="submit"]),
.item input:not([type="submit"]) {
  width: 250px;
  padding: 0.5em;
}

.item input[type='checkbox'],
.item input[type='radio'] {
  width: auto;
}

input[readonly] {
  border: solid 1px white;
  margin-left: 0.5em;
  padding-top: 0 !important;
  padding-left: 0 !important;
}

.setting input[type=radio] {
}

.setting input[type=radio],
.setting input[type=checkbox] {
  position: relative;
  top: -3px;
}

/**
 * Consistent top space in second column items. Input elements need to
 * switch from using margin to padding when they're edit toggled, so that
 * the text doesn't move.  The other elements are just defined here for
 * consistency.
 * @see td.domain-registrar-contacts
 */
input[readonly],
td.setting p {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.item button[disabled] {
  display: none;
}

div.checkbox-with-label input[type='checkbox'],
div.checkbox-with-label input[type='checkbox'] + label {
  display: inline-block;
}

/*
 * 3 line street has just inputs in a row
 * @see td padding-bottom
 */
.setting input + input,
.setting div {
  margin-top: 1em;
}

.setting div {
  margin-top: 0.5em;
}

.setting input[type='checkbox'] {
  display: inline;
}

.setting input + button,
.setting-item-list {
  margin-left: 0.5em;
}
