body {
  overflow-x: hidden;
  overflow-y: hidden !important;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #222;
}

h1 {
  width: 100%;
  font-size: 1.5em;
  /* Bottom padding to get the paragraph text and Billing & resources to
   * line up. */
  padding: 0.75em 0.75em 3px 0;
}

#kd-social a,
#kd-social a:visited,
#reg-content a,
#reg-content a:visited {
  color: #15c;
}

pre {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

table {
  table-layout: fixed;
}

td {
  vertical-align: top;
}

/* Set some explicit form styles so there's no jumping during toggle
 * from readonly to editable. */
input, textarea {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

input[readonly], textarea[readonly] {
  resize: none;
  border-color: white;
}

textarea {
  margin-bottom: 1em;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  border: solid 1px #ddd;
}

textarea[readonly] {
  background-color: #eaeaea;
}

hr {
  border: none;
  border-top: solid 1px #ebebeb;
}

.hidden {
  display: none;
}

#kd-googlebar {
  position: fixed;
  width: 100%;
  min-width: 985px;
  padding: 1em 2em;
  white-space: nowrap;
  height: 37px;
}

#kd-googlebar a.logo,
#kd-searchfield,
#kd-searchbutton {
  position: static;
  display: inline-block;
}

#kd-search {
  width: 470px;
  margin-top: 2px;
  padding-top: 0px;
  padding-left: 3em;
  white-space: nowrap;
}

#kd-search form {
  width: auto;
}

input#kd-searchfield,
#kd-searchbutton {
  height: 29px;
  border: none;
}

input#kd-searchfield {
  width: 400px;
  font-size: 12pt;
}

#kd-searchbutton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#kd-social {
  position: fixed;
  top: 1.25em;
  right: 0;
}

#kd-social .kd-name {
  float: none;
  color: #555;
}

.kd-name a:before {
  content: ' | ';
  color: #999;
}

/* Logo */
a.logo {
  vertical-align: middle;
  font-size: 30px;
  font-weight: 300;
  font-family: "open sans", sans-serif;
  color: #63666a;
}

a.logo * {
  vertical-align: middle;
}

/* Reg prefix. */

.reg-user-id {
  display: block;
  height: 1.5em;
  padding: 0;
  margin-top: -10px;
}

/* Misc. */

#loady {
  position: absolute;
  top: 5px;
  right: -30px;
}

.eppResponse {
  color: #333;
  margin-top: 1em;
}

.kd-appbar {
  padding: 1em 0;
  position: fixed;
  width: 100%;
}

li.kd-menulistitem {
  text-transform: none;
}

#reg-nav.shown {
  display: inherit;
}

/* Begin fixed headers and nav selectors */
#reg-app {
  float: left;
  margin-top: 64px;
  width: 100%;
}

.kd-butterbar {
  position: absolute;
  display: block;
  margin-left: inherit;
}

.kd-butterbar.shown {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.kd-appbar {
  /* same as in reg-content below.  lines the left edge of the
     appbuttons and content area with the 'r' in registry. */
  padding-left: 173px;
  padding-top: .75em;
}

.kd-content-sidebar {
  margin-left: 15px;
  padding-left: 0;
  border-left: 0;
}

#reg-nav {
  position: fixed;
  left: 0;
  top: 136px;
  width: 155px;
  margin: 0 25px 0 0;
  z-index: 3;
}

#reg-navlist li {
  margin-left: 0;
  padding-left: 0;
}

#reg-navlist li ul {
  margin-left: 0em;
  padding-left: 2em;
}

.reg-navlist-sub {
  padding-left: 3px;
}

#reg-navlist a {
  margin-left: 0;
  padding-left: 2em;
  border-left: solid 3px white;
}

#reg-navlist li ul,
#reg-navlist a {
  line-height: 24px;
}

#reg-navlist li ul li {
  margin-left: -2em;
}

#reg-navlist li ul li a {
  padding-left: 3em;
}

#reg-navlist a.domain-active-nav {
  border-left: solid 3px red;
  font-weight: bold;
  color: #bf624B;
}

#reg-content-and-footer {
  position: absolute;
  top: 136px;
  left: 173px;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 25px 0 1em 0;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

#reg-content {
  margin-bottom: 100px;
}

#reg-content,
.pageFooter {
  width: 75%;
}

#debug {
  position: absolute;
  top: 127px;
  right: 0;
  width: 15%;
  border-left: solid 1px grey;
  padding-left: 1em;
}

/* End fixed headers and nav selectors */

#reg-content,
#reg-login {
  min-height: 400px;
}

.reg-select {
  margin-left: 23px;
}
