.domain-registrar-contacts {
  vertical-align: top;
  text-align: top;
}

.domain-registrar-contact {
  display: table-cell;
  padding-right: 4em;
  padding-bottom: 2em;
}

.domain-registrar-contact div {
  margin: 0.5em 0;
}

.domain-registrar-contact + br {
  display: table-row;
}

.domain-registrar-contact-name {
  font-weight: bold;
  display: inline;
  padding-right: 30px;
}

.domain-registrar-contact-name i {
  float: right;
  width: 16px;
  height: 16px;
}

.domain-registrar-contact-name i.domain-registrar-contact-visible-in-whois {
  background: url('/assets/images/visibleOn_16.png') no-repeat right;
}

/** Postal style for address. */
td.setting-group-compact div.contact-address-city,
td.setting-group-compact div.contact-address-state,
td.setting-group-compact div.contact-address-zip,
td.setting-group-compact div.contact-address-cc {
  width: initial;
  display: inline;
}

/** Back to regular box flow for phone. */
td.setting-group-compact input#phoneNumber {
  clear: both;
}

/**
 * Vertical align shim for contact tds.  Using border here instead of
 * padding since this is a table and padding is ignored.
 *
 * @see td.setting p
 */
td.domain-registrar-contacts {
  border-top: solid 0.5em white;
}
