#domain-registrar-contact-us .description * {
  color: #999 !important;
  line-height: 140%;
}

#domain-registrar-contact-us p {
  margin-bottom: 1.5em;
  line-height: 140%;
}

#registry-phone {
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: #eaeaea;
}
