#domain-registrar-dashboard {
  text-align: center;
}

#domain-registrar-dashboard p {
  color: grey;
}

#domain-registrar-dashboard super {
  color: red;
  font-size: 0.5em;
  vertical-align: super;
  font-weight: bold;
  padding-left: 0.5em;
}

#domain-registrar-dashboard table {
  border-collapse: collapse;
  margin: 3em auto;
}

#domain-registrar-dashboard div.dashbox {
  width: 230px;
  min-width: 230px;
  height: 260px;
  padding: 1em 2em;
  margin: 0 1.5em;
  color: #777;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 140%;
  font-size: 1.1em;
}

#domain-registrar-dashboard div.dashbox h2 {
  font-weight: bold;
  color: #555;
  margin: 2em auto 1em auto;
}

#domain-registrar-dashboard div.dashbox a {
  color: inherit;
}

#domain-registrar-dashboard table img {
  display: block;
  margin: 1em auto;
  padding: 1em auto;
}

#domain-registrar-dashboard table + p {
  margin: 2em auto;
  width: 75%;
  vertical-align: middle;
  text-align: center;
}

#domain-registrar-dashboard p img {
  margin-right: 1em;
  vertical-align: middle;
  text-align: center;
}
