<div class="console-app__home">
  <h1>Welcome to the Google Registry Console</h1>
  <div class="console-app__home-widgets">
    <div app-domains-widget class="console-app__widget-wrapper__wide"></div>
    <div app-contact-widget class="console-app__widget-wrapper__wide"></div>
    <div app-tlds-widget></div>
    <div app-promotions-widget class="console-app__widget-wrapper__wide"></div>
    <div app-settings-widget class="console-app__widget-wrapper__wide"></div>
    <div app-resources-widget></div>
    <div app-billing-widget></div>
    <div app-epp-widget></div>
  </div>
</div>
