
<div class="console-tlds__cards">
  <mat-card class="console-tlds__card">
    <mat-card-title>.how</mat-card-title>
    <mat-card-subtitle>A place for thinkers, tinkerers, and knowledge seekers</mat-card-subtitle>
    <mat-card-actions class="console-tlds__card-links">
      <a title="Onboarding Now" href="#" target="_blank" rel="noopener">Onboarding Now</a>
      <a title="Marketing Materials" href="#" target="_blank" rel="noopener">Marketing Materials</a>
      <a title="Visit get.how for more information" href="#" target="_blank" rel="noopener">Visit get.how for more information</a>
    </mat-card-actions>
  </mat-card>
</div>

<div class="console-tlds__cards">
  <mat-card class="console-tlds__card">
    <mat-card-title>.soy</mat-card-title>
    <mat-card-subtitle>A place for thinkers, tinkerers, and knowledge seekers</mat-card-subtitle>
    <mat-card-actions class="console-tlds__card-links">
      <a title="Onboarding Now" href="#" target="_blank" rel="noopener">Onboarding Now</a>
      <a title="Marketing Materials" href="#" target="_blank" rel="noopener">Marketing Materials</a>
      <a title="Visit get.how for more information" href="#" target="_blank" rel="noopener">Visit iam.soy for more information</a>
    </mat-card-actions>
  </mat-card>
</div>
