<div class="console-app">
  <app-header (toggleNavOpen)="sidenav.toggle()"></app-header>
  <mat-sidenav-container class="console-app__container">
    <mat-sidenav #sidenav class="console-app__sidebar">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/home'" routerLinkActive="active">
          Home page
        </a>
        <a mat-list-item [routerLink]="'/tlds'" routerLinkActive="active">
          TLDS
        </a>
        <a mat-list-item [routerLink]="'/settings'" routerLinkActive="active">
          Settings
        </a>
        <a mat-list-item [routerLink]="'/registrars'" routerLinkActive="active">
          Select Registrar
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="console-app__content-wrapper">
      <div class="console-app__content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
