/** Admin Settings */

div#tlds div.tld {
  width: 209px;
}

#newTld {
  width: 187px;
  margin-left: 0.5em;
}

div#tlds div.tld input,
div#tlds div.tld button[type=button] {
  height: 27px;
  line-height: 27px;
  background: #ebebeb;
  vertical-align: top;
  border: none;
  border-bottom: solid 3px white;
}

div#tlds div.tld input {
  width: 169px;
  margin: 0;
  padding: 0;
  color: #555;
  padding-left: 5px ! important;
}

div#tlds.editing div.tld input[readonly] {
  margin-left: 0.5em;
}

div#tlds.editing div.tld button[type=button] {
  display: inline-block;
  float: right;
  margin-left: -2px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  color: grey;
  font-size: 1.1em;
}

div#tlds.editing div.tld button[type=button]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div#tlds.editing div.tld button[type=button] i {
  font-style: normal;
}

div#tlds.editing .kd-errormessage {
  margin-left: 0.5em;
}

#ote-results-table {
  margin-left: 0.5em;
  margin-top: -5px;
  border-top: 0;
  padding-top: 0;
}

.ote-fulfilled {
  background-color: #9df797;
}

.ote-semifulfilled {
  background-color: #fcd18e;
}

.ote-unfulfilled {
  background-color: #ffa9a9;
}

.ote-results-header {
  height: 20px;
}

.ote-results-header-cell {
  vertical-align: bottom;
}
