.description {
  display: block;
  clear: both;
  font-size: 12px;
  color: #999;
  line-height: 140%;
}

.whoAreYou {
  width: 50%;
  margin: 5em auto;
}

/* Console disabled page. */
.whoAreYou-disabled {
  width: 50%;
  margin: 5em auto;
}

.whoAreYou-disabled p img {
  display: block;
  margin: 3em auto;
}

.whoAreYou-disabled h1 {
  border-top: solid 1px #ebebeb;
  margin-top: 1em;
}

/* XXX: Should be re-enabled when search works. */
#kd-search {
  display: none;
}

/* XXX: Should be generalized for use throughout console. */
div.domain-registrar-contact div.tooltip {
  visibility: hidden;
  /* XXX: Should have auto-width. */
  width: 110px;
  left: -55px;
  height: 1em;
  white-space: nowrap;
  position: relative;
  color: white;
  background: #2d2d2d;
  padding: 0.5em;
  z-index: 2000;
  margin-top: -30px;
  font-style: normal;
}

div.domain-registrar-contact div.tooltip .pointer {
  outline: none;
  display: block;
  position: relative;
  bottom: -7px;
  left: 55px;
  margin: 0 0 0 -5px;
  width: 0;
  height: 0;
  line-height: 0px;
  font-size: 0px;
  /* This sets the tooptip pointer color */
  border-bottom: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2d2d2d;
}

.reg-cryingAndroid {
  float: right;
}

.reg-bullets {
  padding-left: 1em;
  list-style: disc inside;
}
