.console-app {
  &__emty-registrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    &-icon {
      transform: scale(3);
      margin-bottom: 0.5rem;
    }
  }
}
