<div class="console-app__registrar">
  <div>
    <mat-form-field class="mat-form-field-density-5" appearance="fill">
      <mat-label>Registrar</mat-label>
      <mat-select
        [ngModel]="registrarService.activeRegistrarId"
        (selectionChange)="registrarService.updateRegistrar($event.value)"
      >
        <mat-option
          *ngFor="let registrar of registrarService.registrars"
          [value]="registrar.registrarName"
        >
          {{ registrar.registrarName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
