.console-app {
  $min-width: 756px;

  &__registrars {
    margin-top: 1.5rem;
    width: 100%;
    overflow: auto;
  }

  &__registrars-filter {
    min-width: $min-width !important;
    width: 100%;
  }

  &__registrars-table {
    min-width: $min-width !important;
  }

  .mat-mdc-paginator {
    min-width: $min-width !important;
  }

  .mat-column {
    &-edit {
      max-width: 55px;
      padding-left: 5px;
    }
    &-driveId {
      min-width: 200px;
      word-break: break-all;
    }
    &-registryLockAllowed {
      max-width: 80px;
    }
  }
}
