.console-app {
  &__registrar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    // Fix for angular v15 label issue
    // https://github.com/angular/components/issues/26579
    .mat-mdc-floating-label {
      display: inline !important;
    }
    .mat-mdc-select-arrow-wrapper {
      transform: translateY(0) !important;
    }
  }
  &__title {
    margin-right: 1rem;
  }
}
