<mat-card>
  <mat-card-content>
    <div class="console-app__widget">
      <a
        class="console-app__widget_left"
        href="{{ driveFolderUrl }}"
        (click)="openBillingDetails($event)"
      >
        <mat-icon class="console-app__widget-icon">account_balance</mat-icon>
        <h1 class="console-app__widget-title">Billing Info</h1>
        <h4 class="secondary-text text-center">
          <span *ngIf="driveFolderUrl; else noDriveFolderUrl">
            View important billing and payments information.
          </span>
          <ng-template #noDriveFolderUrl>
            <span> Your billing folder is pending allocation. </span>
          </ng-template>
        </h4>
      </a>
    </div>
  </mat-card-content>
</mat-card>
