<mat-card>
  <mat-card-content>
    <div class="console-app__widget">
      <div class="console-app__widget_left">
        <mat-icon class="console-app__widget-icon">call</mat-icon>
        <h1 class="console-app__widget-title">Contact Support</h1>
        <h4 class="secondary-text text-center">
          View Google Registry support email and phone information
        </h4>
      </div>
      <div class="console-app__widget_right">
        <button mat-button color="primary" class="console-app__widget-link">
          Give us a Call
        </button>
        <p class="secondary-text">
          Call Google Registry support at +1 (404) 978 8419
        </p>
        <button mat-button color="primary" class="console-app__widget-link">
          Send us an Email
        </button>
        <p class="secondary-text">
          Email Google Registry at support@google.com
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
