<mat-card>
  <mat-card-content>
    <div class="console-app__widget">
      <div class="console-app__widget_left">
        <mat-icon class="console-app__widget-icon">call</mat-icon>
        <h1 class="console-app__widget-title">Contact Support</h1>
        <h4 class="secondary-text text-center">
          Let us know if you have any questions
        </h4>
      </div>
      <div class="console-app__widget_right">
        <div class="console-app__widget-section-header">Give us a Call</div>
        <p class="secondary-text">
          Call {{ userDataService.userData?.productName }} support at
          <a href="tel:{{ userDataService.userData?.supportPhoneNumber }}">{{
            userDataService.userData?.supportPhoneNumber
          }}</a>
        </p>
        <div class="console-app__widget-section-header">Send us an Email</div>
        <p class="secondary-text">
          Email {{ userDataService.userData?.productName }} at
          <a href="mailto:{{ userDataService.userData?.supportEmail }}">{{
            userDataService.userData?.supportEmail
          }}</a>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
