<mat-card>
  <mat-card-content>
    <div class="console-app__widget">
      <div class="console-app__widget_left">
        <mat-icon class="console-app__widget-icon">view_list</mat-icon>
        <h1 class="console-app__widget-title">Domains</h1>
        <h4 class="secondary-text text-center">
          Manage domain names and registry lock settings.
        </h4>
      </div>
      <div class="console-app__widget_right">
        <button mat-button color="primary" class="console-app__widget-link">
          Create a Domain
        </button>
        <p class="secondary-text">Register a new domain name</p>
        <button mat-button color="primary" class="console-app__widget-link">
          View DUMs
        </button>
        <p class="secondary-text">
          Download a csv of all domains under management
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
