<mat-card class="console-app__widget-wrapper__wide">
  <mat-card-content>
    <div class="console-app__widget">
      <div class="console-app__widget_left">
        <mat-icon class="console-app__widget-icon">subject</mat-icon>
        <h1 class="console-app__widget-title">Promotions</h1>
        <h4 class="secondary-text text-center">
          Manage Google Registry promotions and view onboarding process.
        </h4>
      </div>
      <div class="console-app__widget_right">
        <button mat-button color="primary" class="console-app__widget-link">
          Manage Preferred Partner Program
        </button>
        <p class="secondary-text">
          Onboard or view current preferred partner status
        </p>
        <button mat-button color="primary" class="console-app__widget-link">
          Manage Registry Lock Program
        </button>
        <p class="secondary-text">
          Onboard or view current registry lock status
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
