<mat-card>
  <mat-card-content>
    <div class="console-app__widget">
      <a
        class="console-app__widget_left"
        href="{{ userDataService.userData?.technicalDocsUrl }}"
      >
        <mat-icon class="console-app__widget-icon">menu_book</mat-icon>
        <h1 class="console-app__widget-title">Resources</h1>
        <h4 class="secondary-text text-center">
          Use Google Drive to view onboarding FAQs, and technical documentation.
        </h4>
      </a>
    </div>
  </mat-card-content>
</mat-card>
