<mat-card class="console-app__widget-wrapper__wide">
  <mat-card-content>
    <div class="console-app__widget">
      <div class="console-app__widget_left">
        <mat-icon class="console-app__widget-icon">settings</mat-icon>
        <h1 class="console-app__widget-title">Settings</h1>
        <h4 class="secondary-text text-center">
          Configure registrar settings, manage console users, and view activity
          log.
        </h4>
      </div>
      <div class="console-app__widget_right">
        <button mat-button color="primary" class="console-app__widget-link">
          Contact Information
        </button>
        <p class="secondary-text">Manage Primary, Technical, etc contacts.</p>
        <button mat-button color="primary" class="console-app__widget-link">
          Security
        </button>
        <p class="secondary-text">
          Manage IP allow lists and SSL certificates.
        </p>
        <button mat-button color="primary" class="console-app__widget-link">
          Nomulus Password
        </button>
        <p class="secondary-text">Reset your Nomulus password.</p>
        <button mat-button color="primary" class="console-app__widget-link">
          User Management
        </button>
        <p class="secondary-text">Create and manage console user accounts</p>
        <button mat-button color="primary" class="console-app__widget-link">
          Registrar Management
        </button>
        <p class="secondary-text">Create and manage registrar accounts</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
