textarea#clientCertificate {
  font-family: monospace;
  height: 260px;
  white-space: nowrap;
}

/* Registry. */
input#tldStateTransition.tldStateTransition {
  width: 40em;
}

tr.section-lead th {
  padding-top: 4em;
  padding: 1em 0;
  border-bottom: solid 1px #ebebeb;
  font-size: 1.1em;
  font-weight: bold;
}
