/* EPP styles */

.reg-add:before {
  content: '+ ';
}

.contact h1 {
  width: 650px;
  background: url('/assets/images/ic_contacts_blue_12.png') no-repeat 0 0.7em;
  padding-left: 2em;
  margin-left: 0.75em;
}

/* Remove button. */
#contact-postalInfo table button {
  margin: 1em;
  float: right;
}

#contact-postalInfoHeader {
  color: #777;
  font-weight: normal;
}

#contact-postalInfo .info {
  font-size: 11px;
  color: #666;
}

#contact-postalInfo table {
  margin: 0 0 1em 0;
  padding: 1em;
}

#contact-postalInfo tr {
  margin: auto 2em;
}

#contact-postalInfo tr:first-child {
  margin-top: 1em;
}

#contact-postalInfo tr:last-child {
  margin-bottom: 1em;
}

#contact-postalInfo table,
#contact-postalInfo input[readonly],
#contact-postalInfo textarea[readonly] {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

#contact-postalInfoHeader button {
  display: block;
  margin: 1em 0;
}

#contact-postalInfoHeader button[disabled] {
  display: none;
}
