#domain-registrar-resources h2 {
  border-top: solid 1px #eee;
  padding-top: 1em;
  margin-top: 1em;
}

#domain-registrar-resources h2 img {
  vertical-align: middle;
  margin-right: 10px;
}

#domain-registrar-resources h2 + p,
#domain-registrar-resources button,
#domain-registrar-resources em  {
  margin-left: 34px; /* Folder icon + ^^ 10px more */
}

#domain-registrar-resources h2 + p {
  padding-top: 1em;
}

#domain-registrar-resources a  {
  color: white !important;
}

#domain-registrar-resources em  {
  color: red;
}
